@import "tailwindcss";

@layer components {
    header {
        @apply w-screen absolute top-0 left-0 flex items-center justify-center min-h-[8vh] bg-neutral-950;

        nav {
            @apply container px-10;

            a {
                @apply text-2xl text-white;
            }
        }
    }

    .section {
        @apply w-screen h-[84.5vh] px-10 py-2 mt-[8vh];

        h1 {
            @apply text-4xl font-bold text-center mb-1;
        }

        h2 {
            @apply text-3xl font-bold text-center mb-1;
        }

        .btn-primary {
            @apply text-white bg-blue-500 mb-4 box-border border border-transparent hover:bg-blue-600
            focus:ring-4 focus:ring-blue-400 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5
            focus:outline-none cursor-pointer;
        }

        .table-container {
            @apply relative flex flex-col w-full h-fit text-gray-700 bg-white shadow-md bg-clip-border rounded-2xl;

            .table-striped {
                @apply w-full text-left table-auto min-w-max;

                thead {
                    @apply border-b border-gray-400 rounded-2xl;

                    tr {
                        th {
                            @apply p-4 border-b border-gray-400 bg-gray-200;

                            p {
                                @apply block font-sans text-sm antialiased font-normal leading-none
                                text-gray-900 opacity-70;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        @apply even:bg-gray-200/50 border-b border-gray-400;

                        td {
                            @apply py-2 px-4;

                            p {
                                @apply block font-sans text-sm antialiased font-normal leading-normal text-gray-900;
                            }
                        }
                    }
                }
            }
        }

        .add-employee-form {
            @apply w-xl mt-15 mx-auto border border-gray-300 px-15 py-8 rounded-xl;

            .form-group {
                @apply mb-5;

                label {
                    @apply block mb-2.5 font-sans text-sm font-normal leading-normal text-gray-900;
                }

                input {
                    @apply bg-gray-100 border border-gray-300 text-sm rounded-xl focus:ring-gray-400
                    focus:border-gray-400 block w-full px-3 py-2;
                }
            }

            .btn-success {
                @apply text-white bg-green-600 box-border border border-transparent hover:bg-green-700
                focus:ring-4 focus:ring-green-400 shadow-xs font-medium leading-5 rounded-lg text-sm
                px-4 py-2.5 focus:outline-none cursor-pointer;
            }
        }
    }

    footer {
        @apply absolute bottom-0 w-screen min-h-[7.5vh] text-center text-white bg-neutral-950;
    }
}